.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 2px 12px #ddd;
  padding: 6px 10px;
  width: 300px;

  .identification {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 20px 'Overpass', sans-serif;
    font-weight: 800;
    padding: 0 10px;
    .number {

    }
    .name {

    }
  }

  .data-wrapper {
    display: flex;
    gap: 5px;

    height: 100%;
    .image-box {
      flex: 4;
      height: 110px;
      padding: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .stats-box {
      flex: 7;
      font: 14px 'Overpass', sans-serif;
      padding: 10px;
    }
  }

  .types {
    display: flex;
    justify-content: space-between;
  }

  .stats-list {
    list-style: none;
    margin-top: 10px;
    height: 54px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 14px 'Overpass', sans-serif;
    font-weight: 400;
  }
}
